DISCORD_TOKEN=
HOST_PORT=3099
PORT=3099
TZ=Europe/Vienna
DATA_FILE=/app/examples/control-panel/data/control-panel-state.json
DISCORD_COMMANDS_ENABLED=1
COMMAND_PREFIX=$panel
COMMAND_ALLOWED_AUTHOR_IDS=
PANEL_AUTH_ENABLED=0
PANEL_AUTH_USERNAME=
PANEL_AUTH_PASSWORD=
PANEL_AUTH_REALM=Stream Bot
YT_DLP_COOKIES_FROM_BROWSER=
YT_DLP_COOKIES_FILE=
YT_DLP_YOUTUBE_EXTRACTOR_ARGS=youtube:player_client=android
YT_DLP_PACKAGE=yt-dlp[default]
YT_DLP_FORMAT=bestvideo[vcodec!=none]+bestaudio[acodec!=none]/best[vcodec!=none][acodec!=none]/best*[vcodec!=none][acodec!=none]/best
PREFERRED_HW_ENCODER=auto
FFMPEG_VAAPI_DEVICE=/dev/dri/renderD128
FFMPEG_LOG_LEVEL=warning
SCHEDULER_POLL_MS=1000
STARTUP_TIMEOUT_MS=15000
