DISCORD_TOKEN=
HOST_PORT=3099
PORT=3099
TZ=Europe/Vienna
DATA_FILE=/app/examples/control-panel/data/control-panel-state.json
DISCORD_COMMANDS_ENABLED=1
COMMAND_PREFIX=$panel
COMMAND_ALLOWED_AUTHOR_IDS=
YT_DLP_COOKIES_FROM_BROWSER=
YT_DLP_COOKIES_FILE=
YT_DLP_FORMAT=bestvideo[vcodec!=none]+bestaudio[acodec!=none]/best[vcodec!=none][acodec!=none]/best*[vcodec!=none][acodec!=none]/best
SCHEDULER_POLL_MS=1000
STARTUP_TIMEOUT_MS=15000
