DISCORD_TOKEN=
PORT=3099
DATA_FILE=./data/control-panel-state.json
FFMPEG_PATH=
FFPROBE_PATH=
YT_DLP_PATH=
YT_DLP_COOKIES_FROM_BROWSER=
YT_DLP_COOKIES_FILE=
YT_DLP_FORMAT=bestvideo[vcodec!=none]+bestaudio[acodec!=none]/best[vcodec!=none][acodec!=none]/best*[vcodec!=none][acodec!=none]/best
DISCORD_COMMANDS_ENABLED=1
COMMAND_PREFIX=$panel
COMMAND_ALLOWED_AUTHOR_IDS=
SCHEDULER_POLL_MS=1000
STARTUP_TIMEOUT_MS=15000
